<h1>Add to your Watchlist!</h1>

<form method='post' action ='/movies'>

  <h3>Add a Movie: </h3>
  <p>Name: <input type='text' name='movie[name]'></p>
  <p>Year: <input type='text' name='movie[year]'></p>

  <input type='submit' value='submit'>
</form>
