<h1>Add to your Watchlist!</h1>

<form method='post' action ='/movies' id='new_movie'>

  <h3>Add a Movie: </h3>
  <p>Movie Name: <input type='text' name='movie[name]'></p>
  <p>Release Year: <input type='text' name='movie[year]'></p>
  <p>Where to Watch: <input type='text' name='movie[where_to_watch]'></p>
  <p>Notes:</p>
    <textarea rows="4" cols="50" name="movie[desc]" form='new_movie' ></textarea>


  <p><input type='submit' value='submit'></p>
</form>
