<h1>Add a Series or Movie to your List</h1>

<form method='post' action ='/media'>
  <label>Add a Series: </label>
  <p>Name: <input type='text' name='show[name]'></p>
  <p>Next episode to watch: <input type='show[next_episode]' name='name'></p>

  <label>Add a Movie: </label>
  <p>Name: <input type='text' name='movie[name]'></p>
  <p>Year: <input type='text' name='movie[year]'></p>

  <input type='submit' value='submit'>
</form>
