<h1>Add to your Watchlist!</h1>

<form method='post' action ='/shows'>
  <h3>Add a Series: </h3>
  <p>Name: <input type='text' name='show[name]'></p>
  <p>Next episode to watch: <input type='show[next_episode]' name='name'></p>

  <input type='submit' value='submit'>
</form>
