<!doctype html>
<html>
  <head>
    <title>My Watchlist!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav>
      <% if session[:user_id] != nil %>

        <a href="/logout"> Log Out </a>
        <p>Welcome, <%=current_user.username %></p>

      <% else %>
        <p><a href="/signup">Sign Up</a> |
        <a href="/login"> Log In </a></p>
      <%end %>

    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
